<div>
    <h1> {{quiz.name}}  </h1>
    <div ng-repeat="q in quiz.questions track by $index">
        {{$index+1}}.{{q.question}}
        <div class="form-group">
                <label class="radio-inline"><input type="radio" ng-model="$parent.quiz.answers[$index]" name="{{$index}}" value="a">{{q.a}}</label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.quiz.answers[$index]" name="{{$index}}" value="b"> {{q.b}} </label>
                <label class="radio-inline"><input type="radio" ng-model="$parent.quiz.answers[$index]" name="{{$index}}" value="c"> {{q.c}} </label>
        </div>
    </div>
    <button class="btn btn-success" ng-click="quiz.check()">Submit</button>
    <button class="btn btn-danger" ng-click="quiz.reset()">Reset</button>
    <div ng-show="quiz.msg">
        <h3>
            Your Score is {{quiz.avg | number: 2 }}%
        </h3>
    </div>
</div>